{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
$('#example').DataTable();
});
</script>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Product Management</h1>
    <a href="/dash/adminaddproduct" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-sm text-white-50"></i> ADD product</a>
</div>



<table id="example" class="table table-dark">
    <thead>
      <tr>
       
        <th scope="col">product-name</th>
        <th scope="col">Brand</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Edit </th>
        <th scope="col">Delete </th>
      </tr>
    </thead>
    <tbody>
        {% for user in user %}
      <tr>
        <th scope="col">{{user.name}}</th>
        <th scope="col"> {{user.brand}}</th>
        
        <th scope="col"> {{user.price}}</th>
        <th scope="col">{{user.stock}} </th>
        
       
        <th scope="col"><button type="button" class="btn btn-sussccess">
            <a class=" text-sussccess" href="{% url 'edite' %}?id={{user.id}}">Edit</a></button> </th>

        <th scope="col">
          <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{user.id}}">
  Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: blue;" id="exampleModalLabel">Are you Sure to delete </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <a href="{% url 'delete' %}?id={{user.id}}"> <button type="button" class="btn btn-danger">Confirm </button></a>
        
      </div>
    </div>
  </div>
</div> </th>   
        
         
      </tr>
      {% endfor %}
      <!--  -->
    </tbody>
  </table>

{% endblock content  %}