{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
	 @media (max-width: 650px) { 
    .fsize{
      font-size: 7px;
    }
	.imgs1{
		width: 10px;
		height: 10px;
	}
	.fsize1{
      font-size: 7px;
    }
}
	@media (max-width: 450px) { 
		.fsize2{
      font-size: 7px;
    }
	.f0{
		font-size: 6px;
	}

	.btnsize{
		padding: 14px 28px;
	}
	.f1{
		font-size: 6px;
		size: 10px;
	}
   .imgsize{
	   width: 10px;
	   height: 10px;
   }
    
	
  }
</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<main class="col-md-9 col-sm-6 col-12">
<div class="card col-12	">

<table class="col-9 table table-borderless table-shopping-cart  ">
<thead class="text-muted">
<tr class="small text-uppercase ">
  <th class="fsize" >Product</th>
  <th class="fsize"  style=" text-align: center;" >Name</th>
  <th class="fsize"  width="120">Quantity</th>
  <th class="fsize"  width="120">Price</th>
  <th  class="text-right"> </th>
</tr>
</thead>
<tbody>
{% for cart in cart%}
<tr>
	<td>
		<figure class="itemside">
			<div class="aside imgs1"><img src="{{cart.products.image.url}}" class="img-sm"></div>
		</figure>
	</td>
    <td>
		<figure class="itemside">

			<figcaption class="info">
				<a href="#" class="title text-dark fsize1" >{{cart.products.name}}</a>
				<br><div class="fsize1"  id="error{{cart.id}}" style="display: none; color: red; "> Out off stock </div>
				<!-- <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p> -->
			</figcaption>
		</figure>
	</td>
       
	<td> 
		
		<div class="form-row  ">
            <div class="form-group col-md flex-grow-0">
                <div class="input-group mb-3 input-spinner">
                    <!-- <div class="input-group-append">
                        <i pid ="{{cart.id}}"><button class="btn btn-light" type="button" id="button-minus"> - </button></i>
                      </div>
                  <spam type="text" class="form-control" >{{cart.quantity}}</spam>
                  <div class="input-group-prepend">
                    <i data_product ="{{cart.id}}"></i><button class="btn btn-light plus" type="button" id="button-plus"> + </button></i>
                  </div> -->

				  <button class="minuscart f1" data-product="{{cart.id}}" data-action="/minuscart"><i class="fas fa-minus-square fa-lg"> </i></button> 
                  <span style="font-weight: 900;" class="f1"  id="qty{{cart.id}}">{{cart.quantity}}</span>				    
					<button class="pluscart f1" data-product="{{cart.id}}" data-action="/pluscart"><i class="fas fa-plus-square fa-lg"> </i></button> 
                </div>
            </div>
	</td>
	
	<td> 
		<div class="price-wrap"> 
			<var class="price fsize2" id="price{{cart.id}}">Rs.{{cart.products.discount_price}}</var> 
			<!-- <small class="text-muted"> $315.20 each </small>  -->
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
	<!-- <a data-original-title="Save to Wishlist" title="" href= class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>  -->
	<!-- <a href="#" class="btn btn-light"> Remove</a> -->


	<button type="button" class="btn btn-secondary btnsize f0" data-toggle="modal" data-target="#exampleModal{{cart.id}}">
		Remove
		</button>
		
		<!-- Modal -->
		<div class="modal fade" id="exampleModal{{cart.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Are you Sure </h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
		  
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			 <a href="{% url 'remove_cart' %}?id={{cart.id}}"> <button type="button" class="btn btn-danger">Comfirm</button></a>
			  
			</div>
		  </div>
		</div>
		</div>


	</td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="card-body border-top">
	{% if found %}
	<a href="/checkout" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
	<a href="/ " class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
	{% else %}
	<a href="/login" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
	<a href="/ " class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
     {% endif %}
</div>	
</div> <!-- card.// -->

<div class="alert alert-success mt-3">
	<p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
</div>

	</main> <!-- col.// -->
	<aside class="col-md-3">
		 <!-- card .// -->
		<div class="card">
			<div class="card-body">
				<h3>The Total Price:</h3>
					<dl class="dlist-align">
					  <dt>Total price:</dt>
					  <dd class="text-right" id="sumTotal">{{total}}</dd>
					</dl>
					<dl class="dlist-align">
					  <dt>Shipping:</dt>
					  <dd class="text-right text-success">{{shipping}}</dd>
					</dl>
					<dl class="dlist-align">
					  <dt>Total:</dt>
					  <dd class="text-right  h5" id="grantTotal"><strong>{{alltotal}}</strong></dd>
					</dl>
					<hr>
					<p class="text-center mb-3">
						<img src="{% static 'images/misc/payments.png' %}" height="26">
					</p>
					
			</div> <!-- card-body.// -->
		</div>  <!-- card .// -->
	</aside> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<script>
	$('.pluscart').click(function(){
		var id = $(this).data('product');
		var path = $(this).data('action');
		console.log(id)
		$.ajax({
			type:"GET",
			url: path,
			data:{
				id : id
			},
			success:function(response){
				if(response.result == 'success'){
					$('#qty'+id).html(response.quantity)
					$('#price'+id).html(response.total)
					$('#sumTotal').text(response.cartTotal)
					$('#grantTotal').text(response.cartTotal)
				}
				else{
					$('#error'+id).show()
				}
				
			}
		})
	})

	$('.minuscart').click(function(){
		var id = $(this).data('product');
		var path = $(this).data('action');
		$.ajax({
			type:"GET",
			url: path,
			data:{
				id : id
			},
			success:function(response){
				if(response.result == 'success'){
					$('#qty'+id).html(response.quantity)
					$('#price'+id).html(response.total)
					$('#sumTotal').text(response.cartTotal)
					$('#grantTotal').text(response.cartTotal)
					$('#error'+id).hide()

				}
				
			}
		})	
		
	})
</script>

<style>
	@media only screen and (max-width: 500px) {
    .logo {
        height: 20px;
        width: 60px;
    }
}
</style>


{% endblock content  %}