{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<section class="section-pagetop bg-gray">
	<div class="container">
		<h2 class="title-page">Checkout</h2>
	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">

		<div class="row">
			<!-- col.// -->
			<main class="col-md-9">

				<article class="card mb-4 bg-gray">
					<!-- <header class="card-header">
			<a href="#" class="float-right"> <i class="fa fa-print"></i> Print</a>
			<strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
			<span>Order Date: 16 December 2018</span>
		</header> -->

					<div class="card-body">

						<div class="row">
							<a href="/address" style="font-weight: 700;font-size: 10px;"
								class="btn btn-outline-primary">Add Address</a>
						</div>



						<div class="row">
							{% if details %}
							{% for i in details %}
							<div class="col-md-4 mt-4">
								<h6 class="text-muted">Delivery to</h6> 
								<p>{{i.user}} <br>

									{{i.locality}},{{i.city}},<br>
									pincode:{{i.pincode}}<br>
									+91 {{i.user.number}} <br>
									<div class="d-flex" style="margin-right: 10px;">
									<!-- Button trigger modal -->
<button type="button" class="btn btn-danger " data-toggle="modal" data-target="#exampleModalCenter">
	Delete
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLongTitle"></h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body h2 font-weight-bold ">
		   Are you sure delete
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <a href="{% url 'checkoutaddressdelete' %}?id={{i.id}}" type="button" class="btn btn-primary">Delete</a>
		</div>
	  </div>
	</div>
  </div>
								
									<a href="addressedite?id={{i.id}}"  ><button style="font-size: 8px; margin-left: 16px; " class="btn btn-outline-success">Edite</button> </a>
								

								</div>
                               
								{% csrf_token %}
								<div class="form-check mt-2 mb-5">
									<input class="form-check-input" value="{{i.id}}" type="radio"
										id="custadd{{forloop.counter}}" name="ccustid"onclick="clicked({{i.id}})">
                        
									<label style="margin-left: 6px;" for="" class="form-check-input">Address :
										{{forloop.counter}}</label>
								
									</div>
							</div>
							{% endfor %}
							{% else %}
							<div class="col-md-4">
								<p class="text-danger " style="font-size: 20px; font-weight: 600;"> Please Enter your
									address </p>
							</div>
							{% endif %}

							<!-- <div class="col-md-4">
					<h6 class="text-muted">Payment</h6>
					<span class="text-success">
						<i class="fab fa-lg fa-cc-visa"></i>
					    Visa  
					</span>
					<p>Subtotal: {{total}} <br>
					 Shipping: <u class="text-success"  > Free </u><br> 
					 <span class="b">Total:RS.  {{alltotal}} </span>
					</p>
				</div> -->
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
					<!-- table-responsive .end// -->
				</article> <!-- card order-item .// -->





			</main>
			<main class="col-md-3 bg-gray">
				<div class="card-body">
					<form>
						<div class="form-group">
							<label>Have coupon?</label>
							<div class="input-group">
								<input type="text" class="form-control" name="" placeholder="Coupon code" id="coupen">
								    <span class="input-group-append"> 
									<button class="btn btn-primary" type="button" id="apply">Apply</button>
								</span>
							</div>
						</div>
					</form>
				</div> 

				<div class="card">
					<div class="card-body">
						<h3>The Total Price:</h3>
						<dl class="dlist-align">
							<dt>Total price:</dt>
							<dd class="text-right" id="sumTotal">{{total}}</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Shipping:</dt>
							<dd class="text-right text-success">Free</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Total:</dt>
							<dd class="text-right  h5" id="grantTotal"><strong>{{alltotal}}</strong></dd>
						</dl>
						<hr>


					</div> <!-- card-body.// -->
					<form action="/order" method="get" id="pay">
						{% if cart and details %}

						<input type="hidden" id="coupen-id" name="coupenId">

						<span id="payment_method" style="display: none;">
							<input type="hidden" id="cashond" name="paypalnum" value="1"> 
							<button type="submit"  style=" margin-bottom: 10px;width: 253px; " class="btn btn-primary">cash on delivary 
								  </button>
									

							<div  id="paypal-button-container"> </div>
							


							<input type="hidden" value="3" name="paypalnum" >
					
						<input type="hidden" custom="Hidden Element" name="hidden">
						</span>


						<input type="hidden" name="custid" id="custid" value="">
						<input type="hidden" name="custid" id="custid1">
						<input type="hidden" id="coupen-id1" name="coupenId">



						{% else %}

						{% endif %}

						
					</form>
						{% if cart and details %}
						<span id="payment_method1" style="display: none;">
					<form action="/order" method="GET">
						<input type="hidden" value="3" name="paypalnum" >
						<input type="hidden" name="custid" id="custid12">
						<input type="hidden" id="co" name="coupenId">
						<script
							src="https://checkout.razorpay.com/v1/checkout.js"
							data-key="rzp_test_xFSWIL714S4Ayy" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys
							data-amount="29935" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
							data-currency="INR"//
							You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
							data-order_id="{{var1}}"// Replace with the order_id generated by you in the backend.
							data-buttontext="Pay with Razorpay"
							data-name="Acme Corp"
							data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
							data-image="https://example.com/your_logo.jpg"
							data-prefill.name="Gaurav Kumar"
							data-prefill.email="gaurav.kumar@example.com"
							data-theme.color="#F37254"
						></script>
					
						<input type="hidden" custom="Hidden Element" name="hidden">
						{% else %}

						{% endif %}
						</form>
						</span>
						
		
				</div>
			</main>
			


			<main class="col-md-9">
				<div class="table-responsive">
					{% if details %}
					<table class="table table-hover">
						<thead>

							<tr>
								<td>
									<p class="title mb-0">Image </p>
								</td>
								<td>
									<p class="title mb-0">Name & <br> Brand </p>

								</td>
								<td> Quantity </td>
								<td> Price</td>
								<!-- <td> <a href="#" class="btn btn-outline-primary">Track order</a>  -->

								</td>
							</tr>

						</thead>
						<tbody>
							{% for cart in cart %}
							<tr>
								<td>
									<img src="{{cart.products.image.url}}" class="img-xs border">
								</td>
								<td>
									<p class="title mb-0">{{cart.products.name}} </p>
									<var class="price text-muted">{{cart.products.brand}}</var>
								</td>
								<td> {{cart.quantity}} </td>
								<td> {{cart.products.discount_price}} </td>
								<!-- <td> <a href="#" class="btn btn-outline-primary">Track order</a>  -->

								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
					{% endif %}
				</div>
			</main>



		</div>

	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<style>
	.razorpay-payment-button{
		width: 253px;
	}
</style>


<script>
	function clicked(id) {
		document.getElementById('payment_method').style.display = "";
		document.getElementById('payment_method1').style.display = "";
		document.getElementById('custid').value = id
		document.getElementById('custid1').value = id
		document.getElementById('custid12').value = id

		
		// alert(document.getElementById('custid').value0sss

	}
</script>

<!-- Include the PayPal JavaScript SDK -->
<script
	src="https://www.paypal.com/sdk/js?client-id=AWxGn2AY2b8N6tIcHg2UXpowkHByWa2yMBehr_wJeKB4TxS5oJHbq6itecd45sbGY5LbLRQ94FSZxuNl&currency=USD"></script>

<script>
	// Render the PayPal button into #paypal-button-container
	paypal.Buttons({

		// Set up the transaction
		createOrder: function (data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: '{{alltotal}}'
					}
				}]
			});
		},

		// Finalize the transaction
		onApprove: function (data, actions) {
			return actions.order.capture().then(function (orderData) {
				// Successful capture! For demo purposes:
				console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
				var transaction = orderData.purchase_units[0].payments.captures[0];
				alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
				document.getElementById('cashond').value=0;
				document.getElementById('pay').submit();
				// Replace the above to show a success message within this page, e.g.
				// const element = document.getElementById('paypal-button-container');
				// element.innerHTML = '';
				// element.innerHTML = '<h3>Thank you for your payment!</h3>';
				// Or go to another URL:  actions.redirect('thank_you.html');
			});
		}


	}).render('#paypal-button-container');
</script>

<script>
	$('#apply').click(function(){
		var data = {
			'code': document.getElementById('coupen').value
		}
		alert(data['code'])
		$.ajax({
			type:"GET",
			url: "/checkcoupen",
			data:data, 
			success:function(response){
				if(response.result == 'success'){
					document.getElementById("grantTotal").innerHTML = response.final_amt
					document.getElementById("coupen-id").value = response.coupen_id
					document.getElementById("coupen-id1").value = response.coupen_id
					document.getElementById("co").value = response.coupen_id
					
                    alert(response.coupen_id)
				}
				else{
					alert('Wrong Input')
				}
				
			}
		})
	})
</script>	


{% endblock content %}